.cover {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust the height of the cover */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/image/contact\ cover.png");
    background-size: cover; /* Ensure the image covers the full area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
  }

  .cover h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 15px 30px;
  }
  
  .contact-row {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #183358;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
  }
  .contact-us-form {
    display: flex;  
    padding: 20px;
    width: 80%;
    margin: auto;
 
  }
  .contact-col { 
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  .contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .contact-col div i{
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin: 10px;
    margin-right: 30px;
  }

  .contact-col div p {
    padding: 0;
    font-family: 'Arial', sans-serif; /* Font style */
    color: #ffffff;
    font-size: 12px;
  }
  .contact-col div h5, .contact-col h5 {
    font-size: 20px;
    margin-bottom:5px ;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: #D6BE88;
  }

  .contact-col input, .contact-col textarea {
   width: 100%;
   padding: 15px;
   margin-bottom: 20px;
   outline: none;
   background-color: transparent;
   border: none;
   border-bottom: 1px solid #ccc; /* Add bottom border */
   color: #ffffff;
  }
  
.contact-col input[type="text"]::placeholder,
.contact-col input[type="email"]::placeholder,
.contact-col input[type="tel"]::placeholder,
.contact-col textarea::placeholder {
  color: #d3d3d3; /* Light gray placeholder text */
  font-family: 'Arial', sans-serif; /* Font style */
  font-size: 12px;
}
.contact-col button {
  background-color: #FFC72C; /* Yellow background */
  color: #183358; /* White text color */
  font-size: 20px; /* Font size for text */
  text-align: center; /* Center text */
  padding: 5px 12px; /* Padding around the text */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: 'Bebas Neue', sans-serif;
  float: right;
}
.contact-col button:hover {
  background-color: #ffffff; /* Darker shade of yellow or any other color */
  color: #183358; /* White text color */
}
@media (max-width: 800px) {
  .contact-row {
    display: block;
  }
}