
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


.header {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #ffffff;
  position: relative;
}

.inner_header {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  
}


.logo_container img{
  max-height: 150px;
  width: auto;
}

.bookNowBtn {
  background-color: #183358; /* Yellow background */
  color: #f5f5f5; /* White text color */
  font-size: 20px; /* Font size for text */
  text-align: center; /* Center text */
  padding: 5px 12px; /* Padding around the text */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Inline-block display */
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase; /* Uppercase text */
  margin-left: auto;

}
html {
  scroll-padding-top: 200px; /* Adjust for the fixed header height */
  scroll-behavior: smooth;
}
.bookNowBtn:hover {
  background-color: #ffffff; /* Darker shade of yellow or any other color */
  color: #FFC72C; /* White text color */
}
.header-icon-container {
  display: flex; /* Align icon and button in a row */
  align-items: center; /* Vertically center content */
  margin-left: auto; /* Push the container to the right */
}
.header-icon {
  padding-right: 10px;
  display: inline-block; /* Makes the anchor tag fit around the icon */
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-icon:hover {
  transform: scale(1.3); /* Slightly enlarge the icon */
  opacity: 0.8; /* Reduce opacity slightly for a subtle effect */
}


.navbar {
    background-color: #183358; /* Set your desired background color */
    padding: 10px ; /* Add padding for spacing */
    display: flex; /* Make the navbar a flex container */
    justify-content: center; /* Center the navigation items */
    position: sticky;
    top: -100px; /* Initially hidden */
    transition: top 0.2s ease-in-out, background-color 0.4s ease-in-out;
    z-index: 999;
    flex-wrap: nowrap;
    text-decoration: none;
  }
  
.navbar.scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #183358;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.navbar ul {
    list-style-type: none;
    width: 90%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

.navbar li {
  float: left;

}

.navbar li a {
  font-size: 20px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Bebas Neue', sans-serif; 
  text-decoration: none;

}
.navbar li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.navbar.scrolled .hideOnMobile {
  display: none;
}
.navbar.scrolled .menu-button {
  margin-right: 20px;
  display: block;
}
.navbar.scrolled .logo_container_mobile img {
  display: block;
  margin-left: 80%;
}
.navbar .sidebar {
  position: fixed;
  top: 0;
  right: -500px;
  height: 100vh;
  width: 500px;
  z-index: 999;
  background-color: #183358;
  box-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 0.3s ease;
}
.navbar .sidebar.active {
  right: 0; /* Slide in */
}
.navbar .sidebar:not(.active) {
  transition: 0.3s ease;
  visibility: hidden;
}


.sidebar img {
  padding: 20px;
}
.sidebar li a{
  text-align: left;
  width: 100%;
  margin-left: 10px;
}

.menu-button {
  display: none;
  margin-left: auto;
  margin-top: 10px;
 
}
.logo_container_mobile img {
  max-height: 100px; 
  width: auto;
  display: none;
  transform: scale(2); /* Scale the image (increase size by 20%) */
  float: left;
}

.dropdown_menu {
  display: block;
  flex-direction: column;
 
}

.hideOnMobile .dropdown_link {
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
  z-index: 999;
  transform: translateY(0);
  transition: 0.3s ease;
  visibility: hidden;
  opacity: 0;
}
.hideOnMobile .dropdown_link a {
  color: #616161;
  font-family: 'Arial', sans-serif; /* Font style */
  font-size: 16px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
}
.dropdown_link a:hover {
  color: #F7BD16;
  transform: translateX(5px);
}

.hideOnMobile:hover .dropdown_link {
  transform: translateY(8px);
  visibility: visible;
  opacity: 1;
}
/* sidebar dropdown */

.sidebar-dropdown .dropdown_link {
  position: relative;
  min-width: 200px;
  padding: 5px;
  z-index: 999;
  transform: translateY(0);
  transition: 0.3s ease;
  display: none; /* Hidden by default */
  opacity: 0;
}


/* Show the dropdown when it has an "active" class */
.sidebar-dropdown.active .dropdown_link {
  transform: translateY(8px);
  display: block;
  opacity: 1;
}
.sidebar li a {
  font-size: 30px; /* Change this to your desired font size */
}

.sidebar-dropdown .dropdown_link a {
  color: #cacaca;
  font-family: 'Arial', sans-serif; /* Font style */
  font-size: 16px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
}

.sidebar-dropdown .dropdown_link a:hover {
  color: #F7BD16;
  transform: translateX(5px);
}

/* welcome */
.welcome-section {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  /* margin-top: 20px; */
}

.welcome-logo {
  width: 180px; /* Adjust size as needed */
  height: auto;
  margin-right: 20px;
  align-items: center;
}

.text h1{
  font-size: 32px;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  color: #183358; /* Text color */
}

.text p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  margin: 5px 0 0;
  text-align: justify;
}

/* CHOOSE SECTION */

.why-choose-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px;
  background-image: linear-gradient(rgba(24, 51, 88, 0.9), rgba(24, 51, 88, 0.9)), url("/image/campus 3.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.choose-content-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: auto;
}
.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: auto;
  box-shadow: #D6BE88 -10px 10px;
}

.text-container {
  flex: 2;
}

.text-container h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.highlight {
  margin-bottom: 1.5rem;
}

.highlight h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.highlight p {
  font-size: 1rem;
  line-height: 1.6;
}


.read-more-btn {
background-color: #FFC72C; 
font-size: 32px; 
text-align: center; 
padding: 5px 12px; 
border: none; 
cursor: pointer; 
font-family: 'Bebas Neue', sans-serif;
text-transform: uppercase; 
float: right;
color: #183358;
margin-right: 20px;
}
.read-more-btn a {
text-decoration: none;
color: #183358;
}


.read-more-btn:hover {
background-color: #ffffff; 
}

/* campus */
.campus {
  background: #183358;
  font-family: 'Bebas Neue', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}
.campus h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}
.campus-row {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.campus-col {
  position: relative;
  width: 345px;
  height: 508px;
  overflow: hidden;
}
.overlay-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #183358;
  font-size: 32px;
  font-weight: 400;
  pointer-events: none;
  z-index: 2;
}

.campus-col img {
  width: 345px;
  height: 508px;
  object-fit: cover;
  display: block;
}

.layer {
  position: absolute;
  bottom: -100%; /* Start completely out of view */
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: rgba(247, 200, 43, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: bottom 0.2s ease-in-out; /* Smooth transition */
}

.campus-col:hover .layer {
  bottom: 0; /* Bring the layer up */
}

.layer h3 {
  color: #183358;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}
.campus-col:hover .layer h3 {
  opacity: 1;
}

/* partner */
.partner-section {
  background-color: #183358; /* Light gray background */
  color: rgb(255, 255, 255);
  padding: 20px 20px; /* Section spacing */
  text-align: center; /* Center align the text and logos */
  font-family: 'Bebas Neue', sans-serif;
}

.partner-section h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px; /* Space below the heading */
}

.partner-logos {
  width: 80%;
  margin: auto;
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center align the logos */
  gap: 40px; /* Space between logos */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.partner-logos img {
  height: 120px; /* Logo height */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.partner-logos img:hover {
  transform: scale(1.1); /* Slight zoom-in effect on hover */
}
.partner-logos img:last-child {
  height: 80px; /* Make the last logo a bit smaller */
}
/* contact-us */
.contact-us {
  text-align: center;
  padding: 20px 20px;
  background-color: #ffffff;
  color: #183358;
}

.contact-us h2 {
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  
}

.qr-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.qr-item {
  text-align: center;
}

.qr-code {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social p {
  color: #555;
  font-size: 14px;
  margin: 0;
}

/* map section */

.map-section{
  background-image: linear-gradient(rgba(24, 51, 88, 0.9), rgba(24, 51, 88, 0.9)), url("/image/AIA-logo1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  color: white;
}

.maps {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column; /* Arrange maps in a column */
  gap: 2em; /* Add spacing between each map */
}

.map, .map-right {
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
.map iframe {
  
  box-shadow: #D6BE88 -10px 10px;
}
.map-right iframe {

  box-shadow: #D6BE88 10px 10px;
}
.map-info a, 
.map-info-right a {
  text-decoration: none;
  color: white;
}

.map-info a:hover, 
.map-info-right a:hover {
  color: #FFC72C;
  text-decoration: underline;
}
.map-info h2{
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}
.map-info h3{
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}
.map-info p {
  font-size: 20px;
  font-weight: 400;
}
.map-info-right h2 {
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}
.map-info-right h3{
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
}
.map-info-right p {
  font-size: 20px;
  font-weight: 400;
}
.map-info-right {
  text-align: right;
}

/* more info */
.more-info-section {
  width: 80%;
  padding: 20px ;
  text-align: center;
  margin: auto;
}
.more-info-section h2 {
  font-size: 32px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.contact-us-btn {
  background-color: #ffffff; /* Yellow background */
  color: #183358; /* White text color */
  font-size: 32px; /* Font size for text */
  text-align: center; /* Center text */
  padding: 5px 12px; /* Padding around the text */
  border: 3px solid #183358; /* Border around the text */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Inline-block display */
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase; /* Uppercase text */
  text-decoration: none;
}

.contact-us-btn:hover {
  background-color: #183358; /* Darker yellow on hover */
  color: #FFF; /* White text on hover */
}



/* footer */
.footer {
  background-color: #183358;
  padding: 20px;
}
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col,
.footer-col-logo-section {
  width: 25%; /* Default: 4 columns layout */
}
.footer-btn .maps-btn {
  background-color: transparent; /* Transparent background */
  border: 1px solid #D6BE88; /* Gold border */
  margin: 20px 0;
  color: white; /* Text color */
  padding: 10px 20px; /* Spacing */
  font-family: 'Arial', sans-serif; /* Font style */
  font-size: 14px; /* Font size */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth hover effect */

}
.footer-btn .maps-btn:hover {
  background-color: #D6BE88; /* Gold background on hover */
  color: #183358; /* Change text color to navy */
  scale: 1.1;
}
.footer-col h4 {
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: lighter;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #D6BE88;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer ol, ul {
  padding: 0%;
}
.footer-col ul li a {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  cursor:pointer;
  font-weight: lighter;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #F7BD16;
  text-decoration: underline;
}
.footer-col-logo-section .social-link a{
  display: inline-block;
  height: 40px;
  width: 40px;
  margin:0 5px 5px 0;
  text-align: center;
  color: white;
  transition: all 0.3s;  
  justify-content: center;
  transform: scale(1.5);
}
.footer-col-logo-section .social-link a:hover {
  color: #D6BE88;
  transform: scale(2);
}

.footer-col-logo-section {
  text-align: center;
  color: white;
}
.footer-logo img {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
  transform: translateY(-30px); 
}
.footer-logo-content h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20px;
  color: white;
  font-weight: lighter;
  transform: translateY(-50px); 

}
.footer-logo-content p {
  font-size: 20px;
  color: #D6BE88;
  margin-bottom: 20px;
  transform: translateY(-50px); 

}
.footer-partner-logos {
  width: 1170px;
  margin: auto;
  display: flex; /* Use flexbox for alignment */
  gap: 40px; /* Space between logos */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.footer-partner-logos img {
  height: 120px; /* Logo height */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.footer-partner-logos img:hover {
  transform: scale(1.1); /* Slight zoom-in effect on hover */
}
.footer-partner-logos img:last-child {
  height: 80px; /* Make the last logo a bit smaller */
}


@media (max-width: 800px) {
  /* header */
  .hideOnMobile{
    display: none;
  }
  .menu-button {
    display: block;
  }
  .logo_container_mobile img{
    margin-left: 80%;
    display: block;
  }
  
  .navbar {
    transition: none;
  }
  /* welcome */
  .welcome-section {
    flex-direction: column;
  }
  /* choose-section */
  .image-container img {
    display: none;
  }
  .choose-content-container {
    flex-direction: column; /* Side-by-side layout for medium and larger screens */
    align-items: flex-start;
  }

  .text-container h2 {
    text-align: left; /* Align text to the left for larger screens */
  }
  .read-more-btn {
    margin-top: 200px;
    float: none;
  }

  /* campus */
  .campus-row {
    display: block;
  }
  .campus-col {
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    scale: 0.9;
  }

  /* qr section  */
  .qr-container {
    width: 100%;
    display: block;
  }
  .qr-item {
   margin-bottom: 20px;
  }
  /* map */
  
  .maps {
    text-align: center;
  }
  .map iframe {
    width: 80%;
  }
  .map-right iframe {
    width: 80%;
  }
  .map-info-right {
    order: +1;
    text-align: center; /* Center-align text on small screens */
  }
  .map, .map-right {
    margin-bottom: 20px;
    flex-direction: column; /* Stack the maps vertically */
    gap: 1em;
    align-items: center;
  }
  .map iframe, .map-right iframe {
    box-shadow: none; /* Remove box-shadow on smaller screens */
  }
  /* more info */
  .contact-us-btn {
    margin-top: 10px;
  }
  /* footer */
  .footer-col {
    width: 50%;
    margin-bottom: 20px;
  }
  .footer-col-logo-section {
    width: 100%;
    text-align: justify;
  }
  
}

@media (max-width: 574px) {
  /* header */
  .navbar .sidebar {
    width: 100%;
  }
  /* welcome */
  .welcome-section {
    flex-direction: column;
  }

  /* footer */
  .footer-col {
    width: 100%;
    margin-bottom: 20px;
  }
 
  
}





