*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #ffffff;
    
}

.inner_header {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
}

.logo_container img{
    max-height: 150px;
    width: auto;
}

.bookNowBtn {
    background-color: #FFC72C; /* Yellow background */
    color: #183358; /* White text color */
    font-size: 20px; /* Font size for text */
    text-align: center; /* Center text */
    padding: 5px 12px; /* Padding around the text */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Inline-block display */
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase; /* Uppercase text */
    margin-left: auto;

  }
 
  .bookNowBtn:hover {
    background-color: #ffffff; /* Darker shade of yellow or any other color */
    color: #FFC72C; /* White text color */
  }

  .navbar {
      background-color: #183358; /* Set your desired background color */
      padding: 10px ; /* Add padding for spacing */
      display: flex; /* Make the navbar a flex container */
      justify-content: center; /* Center the navigation items */
    }
    .navbar ul {
      list-style-type: none;
      width: 90%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      
    }
  .navbar li {
    float: left;
    
  }

  .navbar li a {
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Bebas Neue', sans-serif; 
  }

  .welcome-section {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    /* margin-top: 20px; */
  }

  .welcome-logo {
    width: 181px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px;
    align-items: center;
}
  
  .text h1{
    font-size: 32px;
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #183358; /* Text color */
  }

  .text p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    margin: 5px 0 0;
}

/* CHOOSE SECTION */

.choose-section-background {
  background-image: linear-gradient(rgba(24, 51, 88, 0.9), rgba(24, 51, 88, 0.9)), url("/image/campus 3.jpg");
  padding: 20px;
  background-position: center;
  background-size: cover;
  position: relative; 
}

.choose-section {
  display: flex;
  justify-content: center;
  color: white;
  width: 80%;
  margin: auto;
}


.image-container img{
  width: 416px;
  height: 416px;
  margin-right: 20px;
  box-shadow: #D6BE88 -10px 10px;
 
}

.choose-section h2 {
  font-size: 32px;
  margin-top: 10px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: lighter;
}

.choose-section h3 {
  font-size: 20px;
  line-height: 2;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: lighter;
}

.choose-section p {
  font-size: 20px;
    line-height: 1.6;
    margin: 5px 0 0;
}

.readMoreBtn {
  background-color: #FFC72C; /* Yellow background */
  font-size: 32px; /* Font size for text */
  text-align: center; /* Center text */
  padding: 5px 12px; /* Padding around the text */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
  display: inline-block; /* Inline-block display */
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase; /* Uppercase text */
  margin-top: 20px;
}
.readMoreBtn a {
  color: #183358;
}


.readMoreBtn:hover {
  background-color: #ffffff; /* Darker shade of yellow or any other color */
}
.readMoreBtn:hover a {
  color: rgb(255, 199, 44);
}

/* OUR CAMPUS */
.campus {
  background: #183358;
  margin: auto;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-align: center;
  padding: 20px;
}

.row {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  display: flex; /* Add this */
  justify-content: space-between; /* Optional: Adds space between each column */
}

.campus-col {
  flex-basis: 32%;
  width: 345px; /* Adjust width as needed */
  height: 508px; /* Adjust height as needed */
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.campus-col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.layer:hover {
  background: rgba(255, 199, 44, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 400;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}
@media (max-width: 700px) {
  .welcome-section {
    flex-direction: column;
  }
}


